<mat-grid-list [cols]="2"  rowHeight="3rem" >

  <mat-grid-tile [colspan]="2" rowspan="1"><hr></mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="5">

      <mat-card >
        <mat-card-content>
          <div>
            <p>Tasks</p>
            <a ><img src="assets/quicklinks/tasks.jpg" alt=""></a>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <div>
            <p>Productions</p>
            <a routerLink="../production" ><img src="assets/quicklinks/production.jpg" alt=""></a>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <div>
            <p>Attendance</p>
            <a routerLink="../attendence"><img src="assets/quicklinks/attendance.png" alt=""></a>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <div>
            <p>Register</p>
            <a routerLink="../employee"><img src="assets/quicklinks/register.jpg" alt=""></a>
          </div>
        </mat-card-content>
      </mat-card>

    <mat-card>
      <mat-card-content>
        <div>
          <p>Activity</p>
          <a routerLink="../activity" ><img src="assets/quicklinks/activity.jpg" alt=""></a>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div>
          <p>Fertilizer</p>
          <a routerLink="../fertilizer" ><img src="assets/quicklinks/fertilizer.png" alt=""></a>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div>
        <p>Transport</p>
        <a routerLink="../transport" ><img src="assets/quicklinks/transport.png" alt=""></a>
      </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div>
          <p>Vehicle</p>
          <a routerLink="../vehicle" ><img src="assets/quicklinks/vehicle.png" alt=""></a>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" rowspan="1"><hr></mat-grid-tile>

</mat-grid-list>
