<mat-grid-list [cols]="12" rowHeight="4rem">

  <mat-grid-tile [colspan]="7" [rowspan]="7">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Plucking Payment Detail</mat-card-title>
      </mat-card-header>
      <mat-card-content id="pluckingpaymentform">

        <mat-form [formGroup]="form" >

          <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="dostart" formControlName="startdate">
            <mat-datepicker-toggle matIconSuffix [for]="dostart" ></mat-datepicker-toggle>
            <mat-datepicker #dostart></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="doend" formControlName="enddate">
            <mat-datepicker-toggle matIconSuffix [for]="doend" ></mat-datepicker-toggle>
            <mat-datepicker #doend></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Select Plucker</mat-label>
            <mat-select formControlName="plucker">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let plucker of pluckers" (click)="getPluckerBonus(plucker)" [value]="plucker" >{{plucker.callingname}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Select Issuer</mat-label>
            <mat-select formControlName="issuer">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let issuer of issuers" [value]="issuer" >{{issuer.callingname}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Payment Date</mat-label>
            <input matInput [matDatepicker]="paymentdate" formControlName="dopayment">
            <mat-datepicker-toggle matIconSuffix [for]="paymentdate" ></mat-datepicker-toggle>
            <mat-datepicker #paymentdate></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Bonus Quantity</mat-label>
            <input  type="number" readonly matInput formControlName="bonusqty">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Bonus Per Kilo</mat-label>
            <input  type="number" matInput (keyup)="setbonusperkgandbasicpayment()" formControlName="bonusperkilo">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Bonus Payment</mat-label>
            <input  type="number" matInput readonly formControlName="bonuspayment">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Basic Payment</mat-label>
            <input  type="number" matInput (keyup)="setbonusperkgandbasicpayment()" formControlName="basicpayment">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Total Payment</mat-label>
            <input type="number" matInput readonly formControlName="totalpayment">
          </mat-form-field>

          <div id="butpanel">
            <button mat-raised-button (click)="add()" [disabled]="!enaadd" >Add</button>
            <button mat-raised-button (click)="clear()" >Clear</button>
            <button mat-raised-button  (click)="update()" [disabled]="!enaupd">Update</button>
            <button mat-raised-button  (click)="delete()" [disabled]="!enadel" >Delete</button>
          </div>

        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="5" [rowspan]="7">
    <mat-card id="ssearch">
      <mat-card-header>
        <mat-card-title>Plucking Payment Search</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <mat-form [formGroup]="ssearch">


          <mat-form-field appearance="outline">
            <mat-label>Search by Plucker</mat-label>
            <mat-select formControlName="ssplucker">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let plucker of pluckers" [value]="plucker.id" >{{plucker.callingname}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Issuer</mat-label>
            <mat-select formControlName="ssissuer">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let issuer of issuers" [value]="issuer.id" >{{issuer.callingname}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Payment Date</mat-label>
            <input matInput [matDatepicker]="dopayment" formControlName="dopayment">
            <mat-datepicker-toggle matIconSuffix [for]="dopayment" ></mat-datepicker-toggle>
            <mat-datepicker #dopayment></mat-datepicker>
          </mat-form-field>

          <div>
            <button mat-raised-button color="primary" (click)="btnSearchMc()"><mat-icon>search</mat-icon> Search </button>
            <button mat-raised-button color="primary" (click)="btnSearchClearMc()" ><mat-icon>reorder</mat-icon> Clear Search </button>
          </div>

        </mat-form>

      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="12" [rowspan]="6">
    <mat-card class="tableview">
      <mat-card-header>
        <mat-card-title>Plucking Payment View</mat-card-title>
        <div id="loading">
          <img [src]="imageurl" >
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="data">

          <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef>{{headers[i]}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{uiassist.getProperty(element,binders[i])}} </mat-cell>
          </ng-container>

          <ng-container *ngFor="let cscolumn of cscolumns;let i = index;" [matColumnDef]="cscolumn">
            <mat-header-cell *matHeaderCellDef>
              <mat-form [formGroup]="csearch" class="csearch">
                <mat-form-field appearance="outline">
                  <mat-label>{{csprompts[i]}}</mat-label>
                  <input matInput [formControlName]="cscolumn" (keyup)="filterTable()">
                </mat-form-field>
              </mat-form>
            </mat-header-cell>
          </ng-container>

          <mat-header-row id="th" *matHeaderRowDef="columns"></mat-header-row>
          <mat-header-row *matHeaderRowDef="cscolumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns:columns"  (click)="fillForm(row)" [ngClass]="{'selected-row': row === selectedrow}" ></mat-row>

        </mat-table>

        <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[3,5,10,20]" ></mat-paginator>

      </mat-card-content>

    </mat-card>
  </mat-grid-tile>


</mat-grid-list>
